.header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.logo {
  display: flex;
  gap: 10px;
  margin: 20px;
  align-items: center;
  width: 45%;
}

.logo .lowfont {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff3e41;
  cursor: pointer;
}

.logo img {
  width: 5px;
  cursor: pointer;
}

.lowfont:hover {
  color: #0070ff;
  transition: 0.25s;
}

.lowfont:not(:hover) {
  color: #ff3e41;
  transition: 0.25s;
}

.logo img {
  width: 75px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

.logo img:hover {
  transform: rotate(360deg);
}

.flyease-navs {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.flyease-navs ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.flyease-navs li {
  list-style: none;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #ff3e41;
}

.flyease-navs li:hover {
  color: #0070ff;
  transition: 0.25s;
}

.flyease-navs li:not(:hover) {
  color: #ff3e41;
  transition: 0.25s;
}
/* Header ends here */

.container-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flyEase-img-container {
  width: 100%;
  height: 65vh;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.5);
}

.flyEase-img-container img {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
  filter: brightness(70%);
}

.image-text {
  position: absolute;
  top: 40%;
  left: 225px;
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.flyEase-btnInfo{
  position: absolute;
  top: 55%;
  left: 225px;
  color: white;
  background-color: #ff3e41;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.fe-searcher-container{
  margin: 0 auto;
  width: 90%;
  margin-top: -90px;
  position: relative;
  z-index: 1;
}

.fe-searcher-container-top {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  height: 150px;
  border-radius: 25px;
}

.container-flightValidation{
  display: flex;
  height: 20%;
  margin-top: 25px;
  align-items: center;
  border-radius: 20px;
  background-color: #626e78;
  padding: 10px;
}

.container-flightValidation label{
  margin-right: 15px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.fe-searcher-container-bot{
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 100px;
  margin-top: -65px;
  padding: 0 25px;
}

.flights-searcher-input {
  width: 100%;
  border: none;
  padding: 0px 40px;
  font-size: 18px;
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.flights-searcher-input > * {
  margin: 0 10px;
}

.promos-title{
  margin-top: 70px;
  text-align: center;
  font-weight: 500;
}

.flyease-promos-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.promos-container{
  border: 1px solid #c7c1c1;
  width: 27%;
  cursor: pointer;
  transition: 0.5s;
}

.promos-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.promos-container:not(:hover) {
  transform: scale(1);
}

.promos-container-text{
  margin: 0 20px;
}

.promos-container-text p{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.img-circle-promo-container{
  width: 100%;
  height: 225px;
}

.img-circle-promo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #626e78;
  padding: 30px 0;
  font-size: 14px;
  color: #ffffff;
}

.footer p {
  margin-bottom: 0;
}

.footer ul {
  margin-bottom: 0;
  padding-left: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 25px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #3e535d;
}